@import "variables";

h1{
    color: $red-color ;
}

h2{
    color: $green-color;
}
.fa-sort{
    color:blue
}

.user-avatar{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;

}
.courses-title{
    margin: 1rem 0;
}
.size-input-checkbox{
    transform: scale(1.5);
}
.option-actions{
    width: 250px;
}