<div class="mt-4">
    <form method="POST" action="news">
        
      <div class="form-group">
        <label for="searchForm">Search</label>
        <input type="text" name="search" class="form-control" id="searchForm" placeholder="Bạn muốn tìm kiếm...">
      </div>
    
      <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    
    </form>
</div>